
# mirage
Makefile
main.ml
console.xl
log
_build/
*.native

# testing code
testing/tester
dictionary.cmi
dict_test.cmi
*.cmo


resp/*.xl
resp/*.xml
resp/_build
resp/Makefile
resp/log
resp/*.xe
resp/main.ml
resp/main.native
resp/mir-network
*.swp
